#dataForm {
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
}

#dataTableHead *{
  font-style: italic;
  background-color: seagreen;
  color: white;
  text-transform: uppercase;
}



.form-group {
  background-color: palegreen;
  display: inline-block;
  width: 23%;
}
